@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.box {
    background-color: var(#fff);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.description{
  background-color: rgb(137, 181, 139);
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}
.button{
  background-color: rgb(137, 181, 139);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.85;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.slide-in-blurred-top {
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 80vh;
  width: 90%;
  margin: 0;
  z-index: 2;
  /* background-color: #313638; */
  margin-top: 2rem;
  position: relative;
  display: grid;
  grid-template-areas: 
    'frame-1 frame-1 frame-1 frame-2'
    'frame-3 frame-3 frame-3 frame-3';

  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 240px 120px auto auto;
}

.main_btn {
  position: absolute;
  z-index: 100;
  bottom: 50%;
  left: 260px;
  transform: translateX(50%);
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.5s;
  cursor: pointer;
}

.sum-button {
  height: 120px;
  width: 200px;
  background-color: #313638;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);  border-radius: 10%;
}

.sum-button-inner {
  height: 7rem;
  width: 20rem;
  border-radius: inherit;
  text-align: center;
  display: grid;
  place-items: center;
  cursor: pointer;
  /* background-color: red; */
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  transition: 0.4s all;
}

.sum-button-inner:hover {
  opacity: 0.9;
  /* scale: 1.1; */
  /* background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)); */
}

.uploaded-files{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.animation_btn {
  position: absolute;
  bottom: 25%;
  left: 420px;
  height: 3px;
  width: 30px;
  background-color: #313638;
}

.frame {
  background-color: #313638;
  /* border-radius: 2rem; */
  /* margin: 1px; */
  padding: 1px;
  z-index: 3;
  /* height: 30%; */
  /* width: 80%; */
}

.frame1 {
  grid-area: frame-1;
}

.frame-1-1 {
  position: relative;
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame2 {
  grid-area: frame-2;
  
}

.frame-2-1 {
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: auto;
  position: relative;
  padding: 10px;
}
.frame-2-2{
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  position: relative;
  padding: 10px;
}
.frame-2-1 p {
  font-weight: 500;
}
.frame-2-1__item{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: space-between; */
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  /* margin: 0 -1em; */
}
.frame-2-1__item__del{
  cursor: pointer;
}
.frame3 {
  grid-area: frame-3;
}

.frame-3-1 {
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-in-left {
	/* -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



.slide-in-top {
	/* -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
	        animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
    /* filter: blur(50px); */

  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    /* filter: blur(0); */

  }
}


.slide-in-right {
	/* -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
	        animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-bck-center {
  animation: slide-in-bck-center 0.24s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1s;
}

@keyframes slide-in-bck-center {
  0% {
    opacity: 0;
    scale: 3;
  }
  100% {
    scale: (1);
    opacity: 1;
  }
}


.loader {
  animation: load3 0.2s infinite linear;
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
