@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.box {
    background-color: var(#fff);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.description{
  background-color: rgb(137, 181, 139);
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}
.button{
  background-color: rgb(137, 181, 139);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
